.lista{

}
.answer:hover{
    font-size: 110%;
}
.answer:active{
    color: green;
}
.mantine-Checkbox-root{
    margin-bottom: 5px;
}

.disabled{
    color:red;
}
.delete-icon:hover{
    transform: scale(1.2);
    color:red;

}
.correct-answers{
    border-radius: 8px;
    background-color: #ffec99;

}
.AppShell{
    #background-color: #EEEEEE;
}