.lista{

}
.answer:hover{
    font-size: 110%;
}
.answer:active{
    color: green;
}
.mantine-Checkbox-root{
    margin-bottom: 5px;
}
.correct{
    color:green;
}
.incorrect{
    color:red;
}
.disabled{
    color:red;
}
